body {
    background-color: #FFF2D7;
}

.box{
    width: 1680px;
    height: 1050px;
    overflow: hidden;
}

.svg1{
    width: 1680px;
    height: 1050px;
    display:block;
/*    position: absolute;*/
/*    margin-top: 20px;*/
}

.svg2 {
width: 1680px;
height: 1050px;
display:block; 
position: absolute;
/*margin-top: -32px; */
/*color: #FFF2D7;*/
}

  .hanger{
        fill: #FFF2D7;
        stroke: #dcdfff;
      stroke-width: 5.67px;}

 .jurk1 {
           stroke: #000dff; 
           stroke-width: 5.67px;
        }

.svg3{
width: 1680px;
height: 1050px;
display: block;
position: absolute;
top: 0;
transform: translate(100%);
    
}


.text{
position: absolute;
font-family: "Refrigerator Deluxe";
color: #000DFF;
font-size: 3em;
margin-left: 200px;
margin-top: 700px

    
}

.text1{
position: absolute;
margin-top: -400px;
margin-left: 1600px; 
font-family:"montserrat";
font-size: 1em;

    
}

/*
.svgdetail1{
    position: absolute;
    margin-top:-85px;
    min-height: 100%;
    min-width: 100%;
    margin-left: 1450px;
    display: none;  
}
*/


.turn {
    animation: slide 1.5s forwards;
}

@keyframes slide {
    0% {
        transform: translateX(0px);
    }
    
    100% {
        transform: translateX(-1500px);
    }
}

.slidein1{
    animation: slidein 2s forwards;
}

@keyframes slidein{
    
      0% {
        transform: translateX(0px);
       display: block;
    }
    
    100% {
        transform: translateX(-1400px);
        display: block;
    
    }
}

.slideout1{
    animation: slideout 0.3s forwards;
}

@keyframes slideout{
    
      0% {
        opacity: 1;
    }
    
    100% {
         opacity: 0;
    }
}


