body {
    background-color: #FFF2D7;
}

p {
font-family: "Refrigerator Deluxe";
color: #000DFF;
font-size: 2em;
margin-left: 600px;

}


#kleding {
margin-top: -32px; 
}

#stok{
    margin-top: 20px;
}

  .hanger{
        fill: #FFF2D7;
        stroke: #dcdfff;
      stroke-width: 5.67px;}
 .jurk1 {
           stroke: #000dff; 
           stroke-width: 5.67px;
        }

    
.turn {
    animation: slide 1.5s forwards ;
}

@keyframes slide {
    0% {
        transform: translateX(0px);
    }
    
    100% {
        transform: translateX(-1500px);
    }
}

