body {
    background-color: #FFF2D7;
}

p {
font-family: "Refrigerator Deluxe";
color: #000DFF;
font-size: 2em;
margin-left: 600px;

}


#kleding {
margin-top: -45px; 
}

#stok{
    margin-top: 60px;
}

#myMask {
    background-clip: url(img/kledingberg.jpg);
        
}

    
.turn{
    animation: slide 1.5s forwards ;
}

@keyframes slide {
    0% {
        transform: translateX(0px);
    }
    
    100% {
        transform: translateX(-1500px);
    }
}